<h1>log</h1>
<table>
<%= @runner.name %>
<% @runner.races.each do |race| %>
    <tr>
      <td><%= race.title %></td>
      <td><%= race.date %></td>
      <td><%= race.time %></td>
    </tr>
  <% end %>
</table>
