<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to the Jog Log</h1>
<h2 align="center"><%= link_to 'Enter site', new_runner_path %><h2>
  </body>
</html>
