<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="div_top">
    <h1>Welcome to the Jog Log</h1>
  </div>
  <p class="slogan">The Jog Log is an app that allows runners to keep track of upcoming and previous races.</br>Made for runners, by a runner.</p>
<h2 align="center"><div class="button"><%= link_to 'Enter site', new_runner_path %></div><h2>
  <div class="contactinfo">Hilary Masland | <a href="mailto:hilarymasland@gmail.com">hilarymasland@gmail.com</a> </div>
  </body>
</html>
